.signIn{
    display: flex;
    background:linear-gradient(to left, #64b5f6 0%,rgb(252, 254, 255)  40%);
    padding-bottom:3.8rem ;
}

video{
    width: 35rem;
    height: 35rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type=text],
input[type=password],
input[type=email],
label{
    width: 300px;
    margin: 5px 0;
    padding: 5px;
    outline:none;
    font-weight:600 ;
}

button{
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    font-weight: 800s;
}
button:hover{
    background-color: white;
    color: rgb(102, 14, 185);
    border:1px solid rgb(141, 35, 240) ;
}

a{
    color: blueviolet;
}
.p-tag{
    text-align: center;
}
