.user{
    padding: 7px;
    border-bottom: 1px solid #a8a8a8;
    background-color: white;
}

.icon{
    padding: 3px;
    margin-right: 10px;
    color: rgb(4,64,124);
}
.main{
    width: 270px;
    height: fit-content;
    box-shadow: 2px 4px 6px gray;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 8;
    border: 1px solid blueviolet;
    background-color: blueviolet;
}
.h4{
    text-align: center;
    background-color:rgb(172,172,172) ;
    padding: 5px;
    color: #333;
    margin: 0;
    width: 270px;
    position: relative;
    z-index: 8;
}

#user-list{
    transform: translate(200px);
    animation: slideUp 200ms linear 1 forwards;
}
@keyframes slideUp{
    from{
        transform: translateY(200px);

    }
    to{
        transform: translateY(0);
    }
}
.Hidden{
    display: none;
}