.app__navbar {
    width: 100vw;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: transparent;
    backdrop-filter: blur(4rem);
    -webkit-backdrop-filter: blur(4rem);
    position: fixed;
    z-index: 100;
  }
  
  .app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .app__navbar-logo img {
    width: 180px;
    height: 100px;
  }
  
  @media screen and (min-width: 2000px) {
    .app__navbar-logo img {
      width: 100px;
      height: 60px;
    }
  }
  
  @media screen and (max-width: 820px) {
    .app__navbar-logo img {
      width: 150px;
      height: 100px;
    }
  }
  
  .app__navbar-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  .app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;
  }
  
  .app__navbar-links li div {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  
  .app__navbar-links li a {
    color: white !important;
    text-decoration: none;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 800;
    transition: all .3s ease-in-out;
    font-weight: 600;
    line-height: 1.6;
    font-size: .9rem;
    font-family: var(--font-base);
  }
  
  .app__navbar-links li a:hover {
    color: var(--secondary-color);
    background-color: blueviolet;
    padding: 10px;
    border-radius: 5px;
  }
  
  .app__navbar-links li:hover div {
    background-color: var(--secondary-color);
  }
  
  @media screen and (max-width: 900px) {
    .app__navbar-links {
      display: none;
    }
  }
  
  .app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
  }
  
  .app__navbar-menu svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }
  
  .app__navbar-menu div {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    right: 0;
    z-index: 2;
    padding: 1rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background: var(--white-color);
    background-size: cover;
    background-repeat: repeat;
    box-shadow: 0 20px rgba(168, 168, 168, 0.15);
  }
  
  .app__navbar-menu div svg {
    width: 35px;
    height: 35px;
    color: var(--secondary-color);
    margin: .5rem 1rem;
  }
  
  .app__navbar-menu div .app__navbar-menu-links {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .app__navbar-menu div .app__navbar-menu-links li {
    margin: 1rem;
  }
  
  .app__navbar-menu div .app__navbar-menu-links li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  
  .app__navbar-menu div .app__navbar-menu-links li a:hover {
    color: var(--secondary-color);
  }
  
  @media screen and (min-width: 900px) {
    .app__navbar-menu div {
      display: none;
    }
  }

  .User{
    color: white;
    margin: 1rem;
    font-size: 1rem;
    background-color: blueviolet;
    border-radius: 10px;
    padding: .8rem;
  }
  .usertype{
    color: white;
    border-radius: 10px;
    background-color: blueviolet;
    margin-top: .5rem;
    font-size: 1rem;
  }
  
  @media screen and (min-width: 900px) {
    .app__navbar-menu {
      display: none;
    }
  }

  